/*Desktop */ @media(min-width: 1024px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: purple;
        padding: 15px 15px;
        overflow-x: hidden;
    }
    
    .header h1{
        font-family: "Sixtyfour Convergence", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
            "BLED" 0,
            "SCAN" 0,
            "XELA" 69,
            "YELA" 100;
    }
    .header h2{
        color: white;
        font-family: "Moon Dance", cursive;
        font-weight: 400;
        font-style: normal;
        animation: slideFromRight 5s ease-out infinite;
    }
}

/*tablets */@media(min-width: 768px) and (max-width: 1023px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: purple;
        padding: 10px 10px;
        overflow-x: hidden;
    }

    .header h1{
        font-size: 1.5rem;
        font-family: "Sixtyfour Convergence", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
            "BLED" 0,
            "SCAN" 0,
            "XELA" 69,
            "YELA" 100;
    }

    .header h2{
        font-size: 1.25rem;
        color: white;
        font-family: "Moon Dance", cursive;
        font-weight: 400;
        font-style: normal;
        animation: slideFromRight 5s ease-out infinite;
    }
}

/*mobile phones */@media(max-width: 767px){  
    .header{
        display: block;
        background-color: purple;
        padding: 10px;
        overflow-x: hidden;
    }

    .header h1{
        text-align: center;
        font-size: 1.25rem;
        font-family: "Sixtyfour Convergence", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
            "BLED" 0,
            "SCAN" 0,
            "XELA" 69,
            "YELA" 100;
    }

    .header h2{
        font-size: 1rem;
        color: white;
        font-family: "Moon Dance", cursive;
        font-weight: 400;
        font-style: normal;
        animation: slideFromRight 5s ease-out infinite;
        text-align: center;
    }
}




@keyframes slideFromRight{
    0%{
        transform: translateX(100vw);
        opacity: 0;
    }
    16.7%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}